<section id="file-export">
    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex flex-sm-row flex-column justify-content-between">
                  <h4 class="card-title align-self-center">Product Barcode</h4>
                </div>
              </div>
                <div class="card-content ">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered file-export" style="width: 100%;" id="table">
                                <thead>
                                    <tr>
                                      <th>Sr no</th>
                                      {% comment %} <th>Product Name</th> {% endcomment %}
                                      <th>Unit</th>
                                      <th>Barcode Number</th>
                                      <th>Barcode</th>
                                      {% comment %} <th>Action</th> {% endcomment %}
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
