<section id="file-export">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <h4 class="card-title align-self-center">Stock History</h4>
                    </div>
                </div>
                <div class="card-content ">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered file-export" id="table">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Product</th>
                                        <th>Warehouse</th>
                                        <th>created_at</th>
                                        <th>Affected Stock</th>
                                        <th>Before Stock</th>
                                        <th class="text-center">Current Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

