{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Profile{% endblock title %}

{% block bodycontent %}


<section id="action-form-layout">
    <div class="row match-height">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">View Profile</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="horizontal-form-1">{{form.full_name.label}}{% if form.full_name.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        <div class="col-md-9">
                          {{form.full_name}}
                          {% if form.full_name.errors %}
                              {% for error in form.full_name.errors %}
                                <p style="color: red;">{{error}}</p>
                              {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="horizontal-form-2">{{form.email.label}}{% if form.email.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        <div class="col-md-9" readonly>
                          {{form.email}}
                          {% if form.email.errors %}
                              {% for error in form.email.errors %}
                                <p style="color: red;">{{error}}</p>
                              {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="horizontal-form-1">{{form.role.label}}{% if form.role.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        <div class="col-md-9">
                          {{form.role}}
                          {% if form.role.errors %}
                              {% for error in form.role.errors %}
                                <p style="color: red;">{{error}}</p>
                              {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="horizontal-form-2">{{form.phone.label}}{% if form.phone.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        <div class="col-md-9">
                          {{form.phone}}
                          {% if form.phone.errors %}
                              {% for error in form.phone.errors %}
                                <p style="color: red;">{{error}}</p>
                              {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mr-2"><i class="ft-edit mr-1"></i>Change</button>
                <a href="{% url 'users:user_list' %}"><button type="button" class="btn btn-secondary"><i class="ft-x mr-1"></i>Cancel</button></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock bodycontent %}