<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Welcome to Unity Wholesale!<br /><br />

    Your email address has been successfully registered with us. You are invited
    to log into <a href="{{target_link}}">Unity Wholesale </a>.<br /><br />

    <b><u>Account Credentials:</u></b
    ><br />
    <b>Email:</b> {{email}}<br />
    <b>Password:</b> {{password}}<br />
    <br />
    If you have any questions, or need assistance, please don't hesitate to
    reach out to our team!<br /><br />
    <br />
    Best Regards,<br />
    <b>The Unity Wholesale Team</b><br /><br />
  </body>
</html>
