{% extends 'account/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="col-lg-6 col-12 px-4 py-3" style="max-width: 415px;">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
    <form class="login" method="POST" action="{{ request.get_full_path }}" novalidate>
        {% csrf_token %}
        <input type="password" id="id_password1" class="form-control mb-2" placeholder="New Password" name="password1" required>
        {% if form.password1.errors %}
          {% for error in form.password1.errors %}
              <p style="color: red;">{{error}}</p>
          {% endfor %}
        {% endif %}
        <input type="password" id="id_password2" class="form-control mb-2" placeholder="New Password (again)" name="password2" required>
        {% if form.password2.errors %}
          {% for error in form.password2.errors %}
              <p style="color: red;">{{error}}</p>
          {% endfor %}
        {% endif %}

        {% for error in form.non_field_errors %}
          <div class="col-span-2 mt-2">
              <p style="color: red;">{{error}}</p>
          </div>
        {% endfor %}
        <div class="d-flex justify-content-between flex-sm-row flex-column">
            <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock content %}